@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');
@import url('layout.css');
@import url('posts.css');
@import url('components.css');
@import url('penal.css');
@import url('popup.css');
@import url('animation.css');
:root {
    --color-green: #1CA68A;
    --color-blue: #457ABF;
    --color-blue-05: rgba(69, 122, 191, 0.5);
    --color-blue: #457ABF;
    --color-blue-deep: #24324F;
    --color-red: #FF3E4C;
    --color-border: rgba(36, 50, 79, 0.15);
    --color-background: #f6f6f6;
    --content-position: 3/-3;
    --popup-position: 4/-4;
    --radius: 6px;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}

*::selection {
    color: var(--color-background);
    background: var(--color-blue);
}

body {
    min-width: 360px;
    background: var(--color-background);
}

header {
    height: 146px;
    font-weight: 300;
    font-size: 36px;
    grid-column: 1 / -1;
    display: grid;
    align-items: center;
    justify-items: center;
}

.preloader__contener {
    padding: 50px;
}


/* post.html */

.breadcrumb {
    margin: 24px 0 0 24px;
    color: var(--color-blue-deep);
}

.breadcrumb>a {
    text-decoration: none;
    color: var(--color-blue-05);
}

.breadcrumb>a::after {
    content: '>';
}

.breadcrumb>a:hover {
    color: var(--color-blue-deep);
}

.comment__wrapper .comments-header {
    background: var(--color-blue);
    color: #fff;
    font-size: 24px;
    padding: 18px 20px;
}

.fullPost {
    background: #fff;
    border-radius: var(--radius);
    overflow: hidden;
}

.fullPost>.post {
    border-bottom: none;
    margin-bottom: 46px;
}

.formComment>.textarea {
    padding-top: 13px;
    height: 150px;
    resize: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
}

.formComment>.btn-container {
    padding: 20px;
}

.formComment>.btn-container>button {
    width: 300px;
}

.com {
    padding: 24px 0;
    border-bottom: 1px solid var(--color-border);
}

.com:last-child {
    border-bottom: 1px solid transparent;
}

.com>.name {
    padding-bottom: 16px;
}

.com>.name>span {
    color: rgba(69, 122, 191, 0.3);
}

.comment {
    padding: 0 24px;
}