.popup{
    position: fixed;
    top: 0;
    height: 100%;
    background: rgba(36, 50, 79, 0.3);
    backdrop-filter: blur(10px);
    display: none;
    align-items: center;
}


.popup__wrapper {
    background: #fff;
    grid-column: var(--position-popup);
    border-radius: var(--radius);
    border-bottom: 8px solid #457ABF;
    display: grid;
}

.popup__wrapper > .inputs__wrapper > .textarea{
    padding-top: 13px;
    height: 246px;
    resize: none;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;  
}
.popup__wrapper > .inputs__wrapper > .title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: var( --color-blue-deep);
    
}
.popup__wrapper > .button__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 140px);
    column-gap: 24px;
    padding: 24px;
    justify-self: right;
}